{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "index",
          "sibling",
          "parent"
        ],
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": false,
        "requireReturnDescription": false,
        "prefer": {
          "return": "returns",
          "arg": "param"
        }
      }
    ],
    "no-trailing-spaces": "error",
    "@typescript-eslint/camelcase": "warn",
    "no-console": "off",
    "lines-between-class-members": "off",
    "class-methods-use-this": "off",
    "default-case": "warn",
    "quote-props": "error"
  }
}
