# Node modules
node_modules

# Workspace configuration
.idea

# Images used for testing files
tests/*.png
tests/*.jpg
tests/*.gif

# Compiled output
/lib

# Test bot credentials
tests/config.json

# Documentation
/docs
