# Node modules
node_modules

# Workspace configuration
.idea
.vscode

# Images used for testing files
tests/*.png
tests/*.jpg
tests/*.gif

# Compiled output
/lib
/dist

# Test bot credentials
tests/config.json

# Documentation
/docs
